
.container {
    width: 80%;
    margin: 0 auto;
    align-content: center;
    justify-items: center;
}

.tweet {
    padding: 3em;
    border: 1px solid lightgray;
    margin-bottom: 1em;
    width: 50%;
    align-self: center;
}

.stupid {
    /* text-decoration-color: red;  */
    color: red; 
}